<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/custom-theme.css" />
    <!--
	<link rel="stylesheet" href="/stylesheets/jquery.mobile-1.3.1.min.css" />
    -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lobster+Two'  type='text/css'>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile.structure-1.3.1.min.css" />
	<link rel="stylesheet" href="/stylesheets/master.css" />
	<script src="assets/js/jquery-1.9.1.min.js"></script>
	<script src="assets/js/jquery.mobile-1.3.1.min.js"></script>
</head>
<body>
  <div data-role="page" data-theme="a">
	<div data-role="header" data-theme="b">
		<h1 class="lobster-two" id='logo'>ConnecTour</h1>
	</div>
	
    <div data-role="content" data-theme="a">
    <!-- <h2 id="menu-college">CollegeTech</h2>
	<h4 id="menu-loc-info">You are at: <span id='menu-location'>Killian Court</span></h4> -->

	<% if (tour_checkin) { %>
		<table align="center" id="info-table">
			<tr>
				<td>
					<%= link_to(first_name + " " + last_name, 'profiles/' + tour_guide.username) %>
					<a href="profile1.html" id="guide-profile">
						<img src='<%= pic_url %>' style="width: 100px; height: inherit;" />
						<br />
						<span id="guide-name" style="text-align: center;"><%= first_name + " " + last_name %></span>
						<br />
						<span style="text-align: center;"><%= start_time + "-" + end_time %> </span>
					</a>
				</td>
				<td>
					<h2 id="menu-college">CollegeTech</h2>
					<!-- <h4 id="menu-loc-info">You are at: <span id='menu-location'>Killian Court</span></h4> -->
				</td>
			</tr>
		</table>
	<% }else { %>
	    <table align="center">
	    	<tr>
	    		<td>
					<a href="#" id="menu-checkin" data-role="button" data-inline="true" data-icon="check" data-mini="true">Check In</a>
				</td>
			</tr>
		</table>
	<% } %>
	<ul data-role="listview" data-inset="true" id='menu-list'>
			<li>
				<a id="qq" href="/question_queue">
				<h2>Question Queue</h2>
				<p class='menu-explanation'>Ask questions to the Tour Guide</p>
				</a>
			</li>

		<li><a id="gs" href="">
			<h2>General Stats/FAQ</h2>
			<p class='menu-explanation'>Check out general statistics and frequently asked questions</p>
		</a></li>
		<li><a id="m" href="">
			<h2>Map</h2>
			<p class='menu-explanation'>Visually explore the campus</p>
		</a></li>
		<li><a id="e" href="">
			<h2>Events</h2>
			<p class='menu-explantion'>See what's going on this week at CollegeTech </p>
			</a></li>
		<li><a id="s" href="">
			<h2>Stories</h2>
			<p class='menu-explanation'>Hear from CollegeTech students about life at the university</p>
		</a></li>
		<li>
			<a id="tf" href="">
				<h2>Tour Feedback</h2>
				<p class='menu-explanation'> Give Feedback to your Tour Guide </p>
			</a>
		</li>
	</ul>
  </div>
</body>
</html>
