<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/custom-theme.css" />
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile.structure-1.3.1.min.css" />
  <link rel="stylesheet" href="/stylesheets/master.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
</head>

<body>
<div data-role="page" data-theme="a">
  <div data-role="header" data-theme="b">
    <a href="#" data-rel="back" data-icon="back">Back</a>
    <h1>Stories</h1>
    <a id="home" href="#" data-icon="home">Home</a>
  </div>
  <div data-role="content">
    <ul data-role="listview" data-filter="true" data-filter-placeholder="Search stories..." data-inset="false">
      <li><a class= "profile1" href="#">
        <h2>Dominic Petito</h2>
        <p><img class="ui-li-thumb event_image" src="/images/story_1.jpg" />
        "I grew up in a working class family in Brooklyn, New York. Neither of my parents graduated from high school. When I was in my senior year in high school, I had little knowledge about colleges or where to apply. A high school counselor brought CollegeTech to my attention, and I became a member of the Class of 1977. CollegeTech was truly a life-changing experience for me and revealed a world of unlimited possibilities. The core curriculum provided an excellent foundation for higher learning and has defined my personal and professional being. My achievements are a direct reflection of my CollegeTech education, and I am eternally grateful for that experience.</p>
      </a></li>
      <li><a class= "profile2" href="#">
        <h2>Zhiheng Zhao</h2>
        <p><img class="ui-li-thumb event_image" src="/images/story_2.jpg" />
        "CollegeTech gave me the knowledge and support to adapt to life in a new country. I chose CollegeTech for its splendid learning atmosphere, as well as teaching facilities. To become a power engineer - developing pollution-free energy, constructing sustainable energy systems - is what I wanted to do since I was a child."</p>
      </a></li>
      <li><a class= "profile3" href="#">
        <h2>Karen Chow</h2>
        <p><img class="ui-li-thumb event_image" src="/images/story_3.jpg" />
        "At CollegeTech, I studied a Bachelor of Arts (major in Economics) and a Bachelor of Commerce (majors in Finance and Taxation). I am currently working in Financial Services, within the Taxation division at Pricewaterhousecoopers. I always wanted to become a banker. I am particularly interested in Structured Finance and aim to become an expert in that field in the next five years.</p>
      </a></li>
      <li><a class= "profile4" href="#">
        <h2>Amit Mehere</h2>
        <p><img class="ui-li-thumb event_image" src="/images/story_4.jpg" />
        "CollegeTech has been a great university with a brilliant location, ideal for a successful business school. The programs are based on practical knowledge and vivid exposure. The past 8 months at CollegeTech have been a terrific experience for me and it enhanced me both as an individual, and in terms of personality. The students here are a global blend, which I felt was amazing. I would truly recommend CollegeTech to future aspirants knowing full well that they would receive the same exposures and opportunities that I did."</p>
      </a></li>
      <li><a class= "profile5" href="#">
        <h2>Ioannis Haralabopoulos</h2>
        <p><img class="ui-li-thumb event_image" src="/images/story_5.jpg" />
        "Having the opportunity to study abroad, especially in a city where students from around the world meet, CollegeTech University was the correct answer to the question "which university to choose among others." At CollegeTech University, students have the opportunity to be taught in small classroom sizes, which gives the advantage of a personal communication between students and professors. My professors gave too much care, something that I found to great for students abroad. I not only got help regarding my classes, but I also had a parent in instructing me. The rest of the experience is in each person hands. If I had to chose again now after six years of graduation, CollegeTech would still be the answer."</p>
      </a></li>
      <li><a class= "profile6" href="#">
        <h2>Aidan Bodkin</h2>
        <p><img class="ui-li-thumb event_image" src="/images/story_6.jpg" />
        "Doing the MBA gives you the opportunity to learn in three different areas, which is critical for your future success. You learn from world class lecturers, you learn about how others interact with you and finally most importantly for me you learn about yourself. These areas have been examined in both a class room environment and crucially in a real world situation with the company project. I can say that the learnings from my MBA have already been put into practise, in my first steps of starting a new business."</p>
      </a></li>
      <li><a class= "profile7" href="#">
        <h2>Maulik Kothari</h2>
        <p><img class="ui-li-thumb event_image" src="/images/story_7.jpg" />
        "CollegeTech University has far exceeded my expectations as a university. It provides the best global experience to students due to the fact that there are so many international students from all parts of the world. The facilities that the university provides are top class, and the international travel seminars are good learning opportunities. The most amazing aspect of the university is the location in downtown Boston. CollegeTech University has been an amazing experience for me."</p>
      </a></li>
      <li><a class= "profile8" href="#">
        <h2>Desarae Phillips</h2>
        <p><img class="ui-li-thumb event_image" src="/images/story_8.jpg" />
        "I chose CollegeTech because it was a fast-track way to earn a degree, and being a mother of two children, I didn't have the time to dedicate to a large university. I also liked the one-on-one interaction with my instructors."</p>
      </a></li>
      <li><a class = "profile9" href="#">
        <h2>Regine Mechulan</h2>
        <p><img class="ui-li-thumb event_image" src="/images/story_9.jpg" />
        "The Urban Semester Program has given me the opportunity to fully experience and immerse myself in a corporate design environment, which is exactly what I was looking for... I have seen the bigger picture, and I liked what I saw. As I go back to CollegeTech, I actually know what it is that I'm working so hard for.</p>
      </a></li>
      <li><a class= "profile1" href="#">
        <h2>Dominic Petito</h2>
        <p><img class="ui-li-thumb event_image" src="/images/story_1.jpg" />
        I could not have attended CollegeTech without scholarships and financial aid. It is critically important that we give back to CollegeTech and support the endowment so that others of limited means will have the same opportunity that I experienced. A diverse student body is necessary to maintain the vitality and intellectual superiority of CollegeTech as an institution. I urge all alumni to support CollegeTech by contributing to the endowment and the annual fund."</p>
      </a></li>
      <li><a class= "profile11" href="#">
        <h2>Kenneth C. Tsang</h2>
        <p><img class="ui-li-thumb event_image" src="/images/story_10.jpg" />
        "I am so happy that I chose to major in both Criminal Justice and Sociology.  The coursework is fascinating, but also intense.  I've never done so much reading, researching, and writing in my life.  But all of the hard work is so worth it because I have grown to be a better student.  I have learned valuable skills from my professors, who are engaging and passionate.  I can't thank them enough!"</p>
      </a></li>
      <li><a class= "profile12" href="#">
        <h2>Nicole Accurso</h2>
        <p><img class="ui-li-thumb event_image" src="/images/story_11.jpg" />
        "Thanks to CollegeTech's B.A. in Criminal Justice program, I have developed the theoretical knowledge and practical skills necessary to succeed in a wide variety of career paths.  Through coursework focused on theory, research methods, and critical analysis of the justice system, I am well-prepared for a future in law enforcement, legal work, social advocacy, or academia.  Additionally, the wide array of volunteer and internship opportunities offered through the department has allowed me to apply what I learn in the classroom in 'real-world' situations."</p>
      </a></li>
      <li><a class= "profile13" href="#">
        <h2>Alyssa Tutunijan</h2>
        <p><img class="ui-li-thumb event_image" src="/images/story_12.jpg" />
        "The Urban Semester Program at CollegeTech was definitely an experience I don't think I would have been able to do anywhere else. It was a great way to spend the summer and I certainly had a great time.  Over these past eight weeks or so, I have been able to spend an incredible amount of time in New York Presbyterian Hospital and time in Brooklyn, something I never would have done on my own.  While keeping in touch with my friends from back home and from school, I have had so many stories to share.  Some my pre-med friends are stuck in laboratories or doing paperwork.  I heard them complain and could not wait for the summer to be over and go back to CollegeTech. I, however, wish it was longer. And, I got to have a hands-on experience."</p>
      </a></li>
      <li><a class= "profile3" href="#">
        <h2>Karen Chow</h2>
        <p><img class="ui-li-thumb event_image" src="/images/story_3.jpg" />
        Since, I was one of the youngest students at CollegeTech. I found it interesting to talk to the older students who had much more experiences in life. While studying at CollegeTech, I grew as an individual, learning to interact and talk to people from different backgrounds. My advice to students who are planning to come to CollegeTech would be to get outside your comfort zone, make friends, travel and enjoy the good life!"</p>
      </a></li>
    </ul>
  </div>
</div>
</body>

</html>

<script type="text/javascript">

  $(document).ready(function(){
    
    $("#home").click(function(){
      window.location.href = "main_checkin.html";
    });

    $(".profile1").click(function(){
      window.location.href = "profile1.html";
    });
    $(".profile2").click(function(){
      window.location.href = "profile2.html";
    })
    $(".profile3").click(function(){
      window.location.href = "profile3.html";
    })
    $(".profile4").click(function(){
      window.location.href = "profile4.html";
    })
    $(".profile5").click(function(){
      window.location.href = "profile5.html";
    })
    $(".profile6").click(function(){
      window.location.href = "profile6.html";
    })
    $(".profile7").click(function(){
      window.location.href = "profile7.html";
    })
    $(".profile8").click(function(){
      window.location.href = "profile8.html";
    })
    $(".profile9").click(function(){
      window.location.href = "profile9.html";
    })
    $(".profile11").click(function(){
      window.location.href = "profile11.html";
    })
    $(".profile12").click(function(){
      window.location.href = "profile12.html";
    })
    $(".profile13").click(function(){
      window.location.href = "profile13.html";
    })
  })
  
</script>
