body {
	font-family: Georgia;
}

.ui-li-thumb {
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,.75);
}
.ui-li-desc {
  white-space: normal;
  text-indent: 15px;
  font-size: 10pt;
  line-height: 120%;
}

.event_image {
  position: relative;
}

@font-face {
	font-family: 'sanford';
	font-style: normal;
	font-weight: 400;
	src: local('assets/sanford.ttf');
}

.sanford {

}

.lobster-two {
	font-family: "Lobster Two", Lucida Console, serif;
}

#logo {
  font-size: 28pt !important;
  margin: 25px 0 25px 0 !important;
}

#menu-college {
	text-align: center;
	margin-bottom: 0px;
}

#menu-loc-info {
	text-align: center;
	margin: 0px auto;
}

.menu-explanation {
	/*color: #eeeeee;*/
}

#menu-list {
	margin: 0px 10px;
}

#menu-checkin {
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
  margin: 0px 10px;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
  margin: 0px 10px;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;

}

#stat-dots {
	width: 50px;
	margin: 0px auto;
}


.dot {
	display: inline-block;
	width: 10px;
	height: 10px;
	border: 1px solid black;
	border-radius: 5px;
	cursor: pointer;

}

.active-dot {
	background-color: #ccc;
}

.stat-graph {
	margin: 0px auto;
}

.faqs {
	margin: 0px 10px;
}

#map-content {
	height: 100%;
	width: 100%;
}

#question_queue {
	margin-top:10px;
}

.slider {
	display: block;
}

div.ui-slider-track {
	margin-left:0px;
}

div.ui-submit {
	margin-top: 20px;
}

div.bigstars {
	margin: 20px;
	align: "center";
	margin-left: 90px;
}

div.bigstars div.rateit-range {
	background: url(star-white32.png);
	height: 32px;
}

div.bigstars div.rateit-hover {
    background: url(star-gold32.png);
}
 
div.bigstars div.rateit-selected {
    background: url(star-red32.png);
}
 
div.bigstars div.rateit-reset {
    background: url(star-black32.png);
    width: 32px;
    height: 32px;
}
 
div.bigstars div.rateit-reset:hover {
    background: url(star-white32.png);
}

input.ui-slider-input {
    display : none !important;
}


#guide-profile {
	text-decoration: none;
	color: #00CC00;
}

#guide-profile:hover {
	text-decoration: underline;
}

#info-table {
	margin-top: 10px;
}

